* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #f1f1f1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}

footer {
  color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  bottom: 0;
}

.love-msg {
  color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  font-size: 1.1rem;
}

.love-msg p {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.love-msg span {
  color: #ff4747;
  text-decoration: none;
  font-weight: bold;
}
